.panel-partido-nuevo-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.panel-partido-nuevo-row{
    display: flex;
    flex-direction: row;
    align-content:stretch;
    justify-content: space-between;
    gap: 10px
}

.panel-partido-nuevo-row-field{
    flex:1
}