.App {
  text-align: center;
  background: url('https://res.cloudinary.com/remote-german/image/upload/b_rgb:000000,o_35/v1637959650/TorneosFutbol/fondo.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.title{
  font-family: VarsityTeam;
}

@font-face {
  font-family: "VarsityTeam";
  src: local("VarsityTeam"),
  url("./fonts/VarsityTeam/VarsityTeam.woff") format("woff");
}

a {
  text-decoration: none;
  color: inherit;
}